<nav class="navbar navbar-default" id="navbar">
   
    <div class="container"> 
            <div id="logo-tite" class="hidden-xs ">
                    <h1>MooRain</h1>
                    <p>行到水穷处，坐看云起时</p>
            </div>
        </div>        
      <div class="header-topbar   link-border"> 
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
            <h1 class="logo hvr-bounce-in  visible-xs"><a id="_logo" href="/" title="">
                Moorain
            </a>
            </h1>
      </div> 
      <div class="container collapse navbar-collapse" id="header-navbar"> 
        <ul class="nav navbar-nav navbar-right" id="navbarlist"> 
            <li class = "indexpage active">
                <a data-cont="首页" href="/">
                <span class="glyphicon glyphicon-home"></span>
                    博客首页</a></li> 
            <li class="_pages"><a href="/page.html?page=1"><span class="glyphicon glyphicon-th-list"></span> 一些记录</a></li> 
            <li><a href="myshare.html"> <span class="glyphicon glyphicon-list-alt"></span> 一些分享</a></li> 
            <li><a href="./about.html"> <span class="glyphicon glyphicon-user"></span> 关于其他</a></li>
        </ul> 
        <form class="navbar-form visible-xs" action="/search_result.html" method="get"> 
          <div class="input-group"> 
            <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off"> 
            <span class="input-group-btn"> 
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button> 
            </span> 
        </div> 
        </form> 
      </div> 
    </div> 
</nav>
