<aside class="sidebar">
    <div class="fixed">
        <div class="widget widget_search">
            <form class="navbar-form" action="/search_result.html" method="get">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn  btn-search" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <!-- <div class="widget widget-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#notice" aria-controls="notice" role="tab" data-toggle="tab">网站公告</a>
                </li>
                <li role="presentation">
                    <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">联系站长</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane notice active" id="notice">
                    <ul>
                        <li>
                            <time datetime="2016-01-04">01-04</time>
                            <a href="" target="_blank">欢迎访问我的博客</a>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane contact" id="contact">
                    <h2>Email:
                        <br />
                        <a href="mailto:1062254476@qq.com" data-toggle="tooltip" data-placement="bottom" title="1062254476@qq.com">1062254476@qq.com</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <div class="widget" id="kindlisttags">
            <h3><span class="glyphicon glyphicon-book" style="font-size:15px"></span> 分类</h3>
            <span><a href="">HTML/CSS/JS</a></span>
            <span><a href="">NodeJS</a></span>
            <span><a href="">Blog</a></span>
            <span><a href="">其他</a></span>
        </div>
         <div class="widget" id="kindtags">
            <h3><span class="glyphicon glyphicon-tags" style="font-size:15px"></span> 标签</h3>
            <span><a href="">HTML</a></span>
            <span><a href="">CSS</a></span>
            <span><a href="">Bootstrap</a></span>
            <span><a href="">JavaScript</a></span>
            <span><a href="">NodeJS</a></span>
            <span><a href="">Blog</a></span>
            <span><a href="">Ajax</a></span>
            <span><a href="">其他</a></span>
        </div>
    </div>
</aside>