<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu-nav">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Moorain</a>
    </div>
    <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a href="{{site.baseurl}}/">主页</a></li>
                <li><a href="{{site.baseurl}}/list/">博客</a></li>
                <!--子菜单-->
                <li class="dropdown">
                    <a href="http://www.baidu.com" class="dropdown-toggle" data-toggle="dropdown">分类 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://www.baidu.com" data-tab="tab-chrome">HTML/CSS</a></li>
                        <li><a href="#feature-tab" data-tab="tab-firefox">JavaScript</a></li>
                        <li><a href="#feature-tab" data-tab="tab-safari">实用工具</a></li>
                        <li><a href="#feature-tab" data-tab="tab-opera">其他</a></li>
                    </ul>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#about-modal">关于</a></li>
            </ul>
        </div>
    </div>
</div>